<ul class='list__countries'>
  {{#each this}}
    <li class='list__countries-item'>
      <img class='list__countries-img' src='{{flag}}' alt='Flag of {{name}}' width='20' />
      
      <p class='list__countries-name'>{{name}}</p>
    </li>
  {{/each}}
</ul>